.box_wrapper
	border: 1px solid #aaa
	margin-left: 4px
	margin-top: 4px
	float: left

.box_label
	padding: 2px
	font-weight: bold
	text-align: center
	border-bottom: 1px solid #666
	opacity: 1;
	color: black;

.box_label_outter
	opacity: 0.6;
	background-color: #aaa;

.box_content
	padding: 2px
	overflow: auto

.trajectory_msgs_JointTrajectory label
	font-weight: bold
	font-size: 80%
	margin-top: 10px
	margin-bottom: 0px


