<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile.custom.structure.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile.custom.theme.min.css" />
<link rel='stylesheet' type="text/css" href="/stylesheets/style.css" />
<link rel='stylesheet' type="text/css" href="/stylesheets/webcmd.css" />

<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.mobile.custom.min.js"></script>
<script type="text/javascript" src="/javascripts/eventemitter2.min.js"></script>
<script type="text/javascript" src="/javascripts/roslib.min.js"></script>
<script type="text/javascript" src="/javascripts/three.min.js"></script>
<script type="text/javascript" src="/javascripts/ColladaLoader2.min.js"></script>
<script type="text/javascript" src="/javascripts/ros3d.min.js"></script>
<script type="text/javascript" src="/javascripts/mjpegcanvas.min.js"></script>
<script type="text/javascript" src="/javascripts/easeljs.min.js"></script>
<script type="text/javascript" src="/javascripts/ros2d.min.js"></script>
<script type="text/javascript" src="/javascripts/nav2d.min.js"></script>
<script type="text/javascript" src="/javascripts/webcmd/webcmd.js"></script>
<script type="text/javascript" src="/javascripts/webcmd/std_msgs_String.js"></script>
<script type="text/javascript" src="/javascripts/webcmd/std_msgs_Boolean.js"></script>
<script type="text/javascript" src="/javascripts/webcmd/geometry_msgs_Twist.js"></script>
<script type="text/javascript" src="/javascripts/webcmd/trajectory_msgs_JointTrajectory.js"></script>
<script type="text/javascript" src="/javascripts/webcmd/sensor_msgs_JointState.js"></script>
<script type="text/javascript" src="/javascripts/webcmd/sensor_msgs_Image.js"></script>
<script type="text/javascript" src="/javascripts/webcmd/action_msgs_Button.js"></script>
<script type="text/javascript" src="/javascripts/webcmd/sound_play_SoundRequest.js"></script>
<script type="text/javascript" src="/javascripts/webcmd/nav2d.js"></script>
<script type="text/javascript" src="/javascripts/webcmd/urdf3d.js"></script>
<script type="text/javascript" src="/javascripts/robik2.js"></script>
</head>

<body>
    <div data-role="page">

        <div data-role="header">
            <h1>Robik</h1>
        </div><!-- /header -->

        <div data-role="content">
        </div><!-- /content -->

        <div data-role="footer">
            <p>Kuba a tata (2013 - 2015)</p>
        </div><!-- /footer -->

</body>
</html>

